Package: ns2
Version: 2.0.0
Architecture: arm64
Maintainer: Jacob Owens <jowens@novuspower.com>
Installed-Size: 176933
Depends: libc6 (>= 2.17), zlib1g (>= 1:1.1.4), firewalld, network-manager
Section: utils
Priority: optional
Description: Configuration tool
