Package: ns
Version: 0.2.2-prerelease
Architecture: amd64
Maintainer: Jacob Owens <jowens@novuspower.com>
Installed-Size: 389265
Pre-Depends: dpkg (>= 1.16.1), python3 (>= 3.11)
Depends: firewalld, network-manager
Section: python
Priority: extra
Description: A short summary of what this is.
    Further indented lines can contain extra information.
    .
    A single dot separates paragraphs.
