Package: ns
Version: 0.1-1ubuntu1
Architecture: all
Maintainer: Jacob <your.email@example.com>
Installed-Size: 370978
Pre-Depends: dpkg (>= 1.16.1), python3 (>= 3.11)
Depends: firewalld, network-manager
Section: admin
Priority: optional
Description: Network/System configuration tool
 Self-contained system configuration tool with web interface.
 All Python dependencies are bundled.
