[Unit]
Description=UI for ns2
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ns-admin ui

Restart=always
RestartSec=5s      
StartLimitIntervalSec=30
StartLimitBurst=2  

StandardOutput=journal
StandardError=journal
SyslogIdentifier=ns-admin

[Install]
WantedBy=multi-user.target
