[Unit]
Description=UI for ns2
After=network.target ns.service
Requires=ns.service
StartLimitIntervalSec=30
StartLimitBurst=2
StartLimitAction=none

[Service]
Type=simple
ExecStart=/usr/bin/ns-admin
Restart=on-failure
RestartSec=5s

StandardOutput=journal
StandardError=journal
SyslogIdentifier=ns-admin

[Install]
WantedBy=multi-user.target
