[Unit]
Description=Dbus api for ns admin
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ns-admin dbus

Restart=always
RestartSec=5s
StartLimitIntervalSec=30
StartLimitBurst=2


StandardOutput=journal
StandardError=journal
SyslogIdentifier=ns-admin


[Install]
WantedBy=multi-user.target
