Package: ns2-dev
Version: 2.0.1
Architecture: amd64
Maintainer: Jacob Owens <jowens@novuspower.com>
Installed-Size: 244316
Depends: libc6 (>= 2.14), zlib1g (>= 1:1.1.4), firewalld, network-manager
Section: utils
Priority: optional
Description: Configuration tool
