<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Novus Power</vendor>
  <vendor_url>https://novuspower.com</vendor_url>

  <!-- SNMP Management Actions -->
  <action id="com.novus.ns.snmp.Reset">
    <description>Reset SNMP configuration</description>
    <message>Authentication is required to reset SNMP configuration</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.novus.ns.snmp.CreateV3User">
    <description>Create SNMP v3 user</description>
    <message>Authentication is required to create SNMP v3 user</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.novus.ns.snmp.ModifyV3User">
    <description>Modify SNMP v3 user</description>
    <message>Authentication is required to modify SNMP v3 user</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.novus.ns.snmp.RemoveV3User">
    <description>Remove SNMP v3 user</description>
    <message>Authentication is required to remove SNMP v3 user</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.novus.ns.snmp.CreateV2User">
    <description>Create SNMP v2 user</description>
    <message>Authentication is required to create SNMP v2 user</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.novus.ns.snmp.ModifyV2User">
    <description>Modify SNMP v2 user</description>
    <message>Authentication is required to modify SNMP v2 user</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.novus.ns.snmp.RemoveV2User">
    <description>Remove SNMP v2 user</description>
    <message>Authentication is required to remove SNMP v2 user</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <!-- SNMP V2 Trap Actions -->
  <action id="com.novus.ns.snmp.CreateV2Trap">
    <description>Create SNMP v2 trap</description>
    <message>Authentication is required to create SNMP v2 trap</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.novus.ns.snmp.ModifyV2Trap">
    <description>Modify SNMP v2 trap</description>
    <message>Authentication is required to modify SNMP v2 trap</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.novus.ns.snmp.RemoveV2Trap">
    <description>Remove SNMP v2 trap</description>
    <message>Authentication is required to remove SNMP v2 trap</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <!-- SNMP V3 Trap Actions -->
  <action id="com.novus.ns.snmp.CreateV3Trap">
    <description>Create SNMP v3 trap</description>
    <message>Authentication is required to create SNMP v3 trap</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.novus.ns.snmp.ModifyV3Trap">
    <description>Modify SNMP v3 trap</description>
    <message>Authentication is required to modify SNMP v3 trap</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.novus.ns.snmp.RemoveV3Trap">
    <description>Remove SNMP v3 trap</description>
    <message>Authentication is required to remove SNMP v3 trap</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <!-- Account Management Actions -->
  <action id="com.novus.ns.accounts.AddAdmin">
    <description>Add system admin</description>
    <message>Authentication is required to add system admin</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.novus.ns.accounts.AddUser">
    <description>Add system user</description>
    <message>Authentication is required to add system user</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.novus.ns.accounts.Remove">
    <description>Remove system users</description>
    <message>Authentication is required to remove system user</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>


    <action id="com.novus.ns.accounts.SetupDefaultUser">
    <description>Remove system users</description>
    <message>Authentication is required to remove system user</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.novus.ns.accounts.UpdatePassword">
    <description>Update system user password</description>
    <message>Authentication is required to update system user password</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.novus.ns.accounts.SetPasswordPolicy">
    <description>Set system password policy</description>
    <message>Authentication is required to update system password policy</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>


  <!-- PAM Authentication Actions -->
  <action id="com.novus.ns.pam.Authenticate">
    <description>Authenticate user</description>
    <message>Authentication is required</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

</policyconfig>
