Package: ns-admin-dbgsym
Package-Type: ddeb
Source: ns-admin
Version: 2.0.21
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Jacob Owens <jowens@novuspower.com>
Installed-Size: 3599
Depends: ns-admin (= 2.0.21)
Section: debug
Priority: optional
Description: debug symbols for ns-admin
Build-Ids: 595523b7bdb053e4369b0aea70456f02d0c6aa25
