Package: ns-admin-dbgsym
Package-Type: ddeb
Source: ns-admin
Version: 2.0.26
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Jacob Owens <jowens@novuspower.com>
Installed-Size: 3600
Depends: ns-admin (= 2.0.26)
Section: debug
Priority: optional
Description: debug symbols for ns-admin
Build-Ids: c664a1150de1093fda112a89883f96018b003c9e
